<app-nav-bar></app-nav-bar>

<div class="dashboard">
  <div class="left">
    <app-profile></app-profile>
    <app-desk-list></app-desk-list>
  </div>
  <div class="center">
    <app-work-desk></app-work-desk>
    <!-- i should add projects status list component and use project status in it for here and it is visible for admins -->
  </div>
  <!-- @if (isSidebarOpen) {
  <div class="right">
    <app-side-bar></app-side-bar>
  </div>
  } -->
  <div class="right" [class.open]="isSidebarOpen">
    <app-side-bar></app-side-bar>
  </div>
</div>
