.navigate-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navigate-link:hover {
  text-decoration: underline;
  color: #0056b3;
}
