<div class="container">
  <div class="signIn-container">
    <h2>sign in</h2>

    <form [formGroup]="signInForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          id="username"
          formControlName="username"
          type="text"
          class="form-control"
          placeholder="Enter your username"
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          formControlName="password"
          type="password"
          class="form-control"
          placeholder="Enter your password"
        />
      </div>

      <div class="error-message" [class.hidden]="!signinError">
        {{ signinError }}
      </div>

      <button
        type="submit"
        [disabled]="isLoading || signInForm.invalid"
        class="btn btn-primary"
      >
        {{ isLoading ? "Logging in..." : "Login" }}
      </button>
      <div class="create-account">
        <p>Don't have an account yet?</p>
        <a (click)="back_to_login()" class="navigate-link">
          Create an Account
        </a>
      </div>
    </form>
  </div>
</div>
