<p>add-project works!</p>
<form [formGroup]="projectForm" (ngSubmit)="createProject()">
  <label for="name">Project Name</label>
  <input id="name" formControlName="name" />

  <label for="description">Description</label>
  <textarea id="description" formControlName="description"></textarea>

  <label for="startDate">Start Date</label>
  <input type="date" id="startDate" formControlName="startDate" />

  <label for="endDate">End Date</label>
  <input type="date" id="endDate" formControlName="endDate" />

  <button type="submit" [disabled]="projectForm.invalid">Create Project</button>
</form>
