<div class="container">
  <div class="add-product-container">
    <!-- Product Form -->
    <form
      [formGroup]="createProjectForm"
      (ngSubmit)="addProduct()"
      class="product-form"
    >
      <!-- Product Name -->
      <div class="form-group">
        <label for="name">Project Name</label>
        <input
          id="name"
          type="text"
          formControlName="name"
          class="form-control"
          [class.is-invalid]="
            createProjectForm.controls.name.invalid &&
            createProjectForm.controls.name.touched
          "
          placeholder="Enter project name"
        />
      </div>

      <!-- Product Code -->
      <div class="form-group">
        <label for="teamId">Team ID</label>
        <input
          id="teamId"
          type="text"
          formControlName="teamId"
          class="form-control"
          [class.is-invalid]="
            createProjectForm.controls.teamId.invalid &&
            createProjectForm.controls.teamId.touched
          "
          placeholder="Enter team ID"
        />
      </div>

      <!-- Product Weight -->
      <div class="form-group">
        <label for="weight">Project Image</label>
        <input
          id="image"
          type="file"
          class="form-control"
          formControlName="image"
          placeholder="Upload an image"
        />
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        [disabled]="createProjectForm.invalid"
        class="btn btn-primary"
      >
        Add Product
      </button>
    </form>
  </div>
</div>
