<div class="projects-list">
  <h1>Projects</h1>
  <button class="create-btn" (click)="createNewProject()">
    + Create New Project
  </button>
  @if (isLoading) {
  <div class="loading">Loading projects...</div>
  } @if(isError) {
  <div class="error">Failed to load projects. Please try again later.</div>
  }

  <!-- Use @if to conditionally display content -->
  @if (!isLoading && !isError) {
  <div class="projects-container">
    <!-- Use @for for looping through projects -->
    @for (project of projects ; track project.id) {
    <div
      class="project-box"
      draggable="true"
      (click)="navigateToProjectDetails(project.id)"
    >
      <img
        [src]="project.imageUrl || 'assets/default-project.png'"
        alt="Project Image"
      />
      <h3>{{ project.name }}</h3>
      <app-project-status [projectId]="1"></app-project-status>
    </div>
    }
  </div>
  }
</div>
