<div class="profile-container">
  <img [src]="userProfileImage" alt="Profile Image" class="profile-image" />
  <h2>{{ !isError && !isLoading ? username : "Unknown User" }}</h2>
  <div>
    <p>Role: {{ userRole }}</p>
    <p>Status: {{ userStatus }}</p>
    <p>Time: {{ systemTime }}</p>
  </div>
  @if (isLoading){
  <div class="loading">Loading profile...</div>
  } @if(isError){
  <div class="error">Failed to load profile. Please try again.</div>
  }
  <button
    (click)="navigateToEditProfile()"
    [disabled]="isLoading || isError"
    class="edit-button"
  >
    Edit Profile
  </button>
</div>
